<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.lockhaven.bloom_gnatt">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GNATT"
        tools:targetApi="31">
        <activity
            android:name="edu.lockhaven.bloom_gnatt.MainActivity"
            android:exported="true"
            android:label="GNATT"
            android:theme="@style/Theme.GNATT.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="edu.lockhaven.bloom_gnatt.LoadActivity"
            android:parentActivityName="edu.lockhaven.bloom_gnatt.MainActivity"/>

        <activity android:name="edu.lockhaven.bloom_gnatt.HelpActivity"
            android:parentActivityName="edu.lockhaven.bloom_gnatt.MainActivity"/>

        <activity android:name="edu.lockhaven.bloom_gnatt.TaskActivity"
            android:parentActivityName="edu.lockhaven.bloom_gnatt.MainActivity"/>

    </application>

</manifest>